<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,400i,500|VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/app.css"> <!-- add last to override MDLs own colors :) --> 
</head>
<body>

<div class="ui secondary pointing menu fixed" id="menu">
  <a class="item start <%= currentView == 'standard' ? 'active' : '' %>" href="/">
    Start
  </a>
  <a class="item new-post <%= currentView.includes('/posts/new') ? 'active' : '' %>" href="/posts/new">
    New post
  </a>
  <% if (currentView.includes('comments/new')) { %>
    <a class="item new-comment active" href="">
        New comment
    </a>
  <%} %>


  <div class="right menu">
      <% if(!currentUser) { %>
        <a class="item login <%= currentView.includes('login') ? 'active' : '' %>" href="/login">
            Login
          </a>
          <a class="item register <%= currentView.includes('register') ? 'active' : '' %>" href="/register">
            Register
          </a>
       <% } else { %>
        <a class="item"> Hello <%=currentUser.username%>! </a>
        <a class="item logout <%= currentView.includes('logout') ? 'active' : '' %>" href="/logout">
            Log out
          </a>
       <% } %>
  </div>
</div>