<% include ./partials/header %>

<div class="ui main text container header-class">
        <div class="ui segments header-class">
                <div class="ui huge header"> A mock blog </div>
        </div>
</div>

<div class="ui main text container index-view">
        <div class="ui top attached">
                <div class="ui divided items">

                        <% posts.reverse().forEach((post) => { %>
                                <div class="ui card inverted">
                                        <div class="image">
                                        <img src="<%= post.image%>">
                                        </div>
                                        <div class="content index-view-content">
                                                <a class="header" href="/posts/<%= post.id%>"><%= post.title %></a>
                                                <div class="meta">
                                                        <span><%= post.createDate.toDateString() %></span>
                                                </div>
                                                    <div class="description">
                                                                    <% if (post.body != null){ %>
                                                                        <p><%- post.body.substring(0,150)%>
                                                                        <% if (post.body.length > 150) { %>
                                                                        ... 
                                                                        <% } %> </p>
                                                                    <% } %>

                                                    </div>
                                        </div>
                                        <div class="extra content">
                                                <a class="inverted" href="/posts/<%= post.id%>">Read <i class="right chevron icon"></i></a>               
                                        </div>
                                </div>

                        <% })%>
                </div>
        </div>

</div>


<% include ./partials/footer %>