<% include ./partials/header %>

<div class="ui main text container header-class">
        <div class="ui segments header-class">
                <div class="ui huge header"> A blog </div>
        </div>
</div>

<div class="ui main text container">
        <div class="ui top attached segment">
                <div class="ui divided items">

                        <% blogs.forEach((blog) => { %>
                                <div class="item">
                                        <div class="image">
                                                <img src="<%= blog.image%>">
                                        </div>
                                        <div class="content">
                                                <a class="header" href="/blogs/<%= blog.id%>"><%= blog.title %></a>
                                                <div class="meta"> <span><%= blog.createDate.toDateString() %></span></div>
                                                <div class="description"><%- blog.body.substring(0, 99) %>...</div>
                                                <div class="extra"> 
                                                        <a class="ui secondary basic button" href="/blogs/<%= blog.id%>">Read more <i class="right chevron icon"></i></a>
                                                </div>
                                        </div>
                                </div>

                        <% })%>
                </div>
        </div>

</div>





<div class="ui main text container index-view">
        <div class="ui top attached">
                <div class="ui divided items">

        <div class="ui card inverted">
                <div class="image">
                   <img src="/images/avatar2/large/kristy.png">
                </div>
                <div class="content index-view-content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                        <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                        Kristy is an art director living in New York.
                        </div>
                        </div>
                <div class="extra content">
                        <a>
                           <i class="user icon"></i>
                           22 Friends
                        </a>
                </div>
        </div>


                </div>
        </div>

</div>






<!--
<div class="ui container center aligned page grid">

<div class="ui card" id="UI-card">
  <div class="image">
    <img src="/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="header">Kristy</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
  <div class="extra content">
<a class="ui secondary basic button" href="/blogs/">Read more <i class="right chevron icon"></i></a>
  </div>
</div>

  </div>
-->






<% include ./partials/footer %>