<% include ./partials/header %>
<div class="ui grid container centered" id="show-post">
  <div class="eight wide centered row">
    <div class="ui huge header show-post"> <%= post.title %> </div>
  </div>
  <div class="eight wide centered row">
    <img class="ui centered bordered image" id="post-image-place" src="<%= post.image%>">
  </div>
  <div class="four wide centered row">
    <span><%= post.createDate.toDateString() %></span>
  </div>

  <div class="fourteen wide column">
    <p><%- post.body %></p>
  </div>

  <div class="fourteen wide centered column">

    <!-- original sketch-->
    <h3>Comments</h3>
      <div class="ui relaxed divided list comments-list">
          <div class="item">
            <div class="content">
                <div class="description">If you want to be able to reference</div>
                <div class=""><strong>// Authorname,</strong> Updated 22 mins ago</div>
            </div>
          </div>
          <div class="item">
              <div class="content">
                  <div class="description">If you want to be able to reference. que convallis a cras semper. Cursus risus at ultrices mi tempus imperdiet nulla malesuada. Amet mauris commodo quis imperdiet massa tincidun</div>
                  <div class=""><strong>// Authorname,</strong> Updated 22 mins ago</div>
              </div>
            </div>
        </div>

        <p>
            <a href="/posts/<%=post._id%>/comments/new" class="ui small secondary basic button">Add a comment</a>
        </p>

        
  </div>

</div>

<div class="ui grid centered">
  <div class="sixteen wide centered row">
            <div class="edit-delete-post">
                <button class="ui tiny secondary basic button" onclick="location.href='/'">Back</button>
                <a href="/posts/<%=post.id%>/edit" class="ui tiny secondary basic button">Edit</a>
                <form action="/posts/<%=post.id%>?_method=DELETE"  method="POST" id="deleteForm">
                    <button class="ui tiny secondary basic button">Delete</button>    
                </form>
                
            </div>
  </div>
</div>

<script>
    // If there is no blog image
    if(<%- JSON.stringify(post.image)%>.length < 1) {
       const imagePlace = document.getElementById("post-image-place");
       imagePlace.parentNode.removeChild(imagePlace);
    }
</script>

<% include ./partials/footer %>